<div class="main">
  <h3>{{ diviAggregatedHospital.name }} ({{ totalNumberOfHospitals }} gemeldete Krankenhäuser)</h3>
  <mat-divider></mat-divider>

  <div class="content">
    <div *ngIf="!diviAggregatedHospital.developments" i18n="@@countyDataNotFound" class="noData">Für diesen Landkreis stehen keine Daten zur Verfügung.</div>
    <div *ngIf="diviAggregatedHospital.developments">
      <strong i18n="@@tooltipHospitalLastUpdate">Letzter Stand: </strong><span *ngIf="latestDevelopment">({{ latestDevelopment?.last_update | date:"dd.MM.yyy, HH:mm" }} Uhr)</span>

      <div class="barchartcontainer">

        <div *ngFor="let s of specs">
          <h5 class="chart-title">{{ s.title }}</h5>
          <app-vega [spec]="s.chart"></app-vega>
        </div>

      </div>

      <app-hospital-info [data]="diviAggregatedHospital" mode="tooltip"></app-hospital-info>
    </div>
  </div>
</div>
