.main {
  background: #fff;
  padding: 15px;
  border-radius: 4px;

  .barchartcontainer {
    display: flex;
  }
}

table {
  border-spacing: 0;
  margin-top: 10px;
}

th {
  text-align: center;
  margin: 0;
  padding: 8px;
}

td {
  text-align: center;
  margin: 0;
  padding: 8px;
}

td:first-child {
  text-align: left;
}

/* Color columns */
th:nth-child(2),
th:nth-child(4),
td:nth-child(2),
td:nth-child(4){
  background-color: #f2f2f2;
}
