<div class="main">
    <div class="title-row">
        <div class="title-row-title">
          <h3 class="name"><span i18n="@@deutschland">Deutschland</span> - {{ bedName }}</h3>
    
          <p class="numHospitals">({{ data.numberOfHospitals }} <span i18n="tooltip | hospitals@reported">gemeldete Krankenhäuser</span>)</p>
        </div>
    </div>
  
    <mat-divider></mat-divider>

    <h4><span i18n="@@tooltipHospitalLastUpdate">Letzter Stand: </span> <span>{{ data.timestamp | date:'medium' }}</span></h4>

    <div class="chartcontainer">

        <div>
            <app-vega [spec]="spec"></app-vega>
        </div>

    </div>

</div>