#container {
  grid-gap: 5px 5px;
  height: 100vh;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  grid-template-areas:
    "map"
}

#map {
  grid-area: map;
}

.overlay-brand {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
}
