<div id="container">
  <app-map
    id="map"
    [(aggregationLevel)]="aggregationLevel"
    [showOsmHospitals]="showOsmHospitals"
    [showOsmHeliports]="showOsmHeliports"
    [caseChoroplethOptions]="caseChoroplethOptions"
    [glyphState]="glyphState"
    (caseChoroplethLayerChange)="currentCaseChoropleth = $event"
  ></app-map>

  <app-infobox
    class="infobox"
    [(aggregationLevel)]="aggregationLevel"
    [(showOsmHospitals)]="showOsmHospitals"
    [(showOsmHeliports)]="showOsmHeliports"
    [(caseChoroplethOptions)]="caseChoroplethOptions"
    [(glyphState)]="glyphState"
  ></app-infobox>

  <app-overlay-brand class="overlay-brand"></app-overlay-brand>
  <app-legend 
    class="legend" 
    [aggregationLevel]="aggregationLevel" 
    [bedType]="glyphState"
    [choroplethLayer]="currentCaseChoropleth"
    [caseChoroplethOptions]="caseChoroplethOptions"
  ></app-legend>
</div>
