stages:
  - prepare
  - build:frontend
  - build:docker
  - deploy

variables:
  K8_NAMESPACE: covid-19-vis
  STAGING_BRANCH: master
  URL_SUFFIX: covis.dbvis.de

###########################################
# SETUP ENVIRONMENT VARIALBES
###########################################

export-environment:
  image: debian:stretch-slim
  stage: prepare
  script:
    - echo $CI_COMMIT_BRANCH
    - echo $CI_COMMIT_REF_NAME
    # set the version either as a tag (v0.0.1) or as a commit sha (74bac331)
    - if [[ ${CI_COMMIT_TAG} =~ ^v[0-9].[0-9].[0-9] ]]; then VERSION=${CI_COMMIT_TAG}; else VERSION=${CI_COMMIT_SHORT_SHA}; fi
    # the current URL suffix
    #- URL_SUFFIX="covis.dbvis.de" # defined in the variables section
    # this shortens the slug to 30 characters and removes all trailing dashes
    - SHORTENED_CI_COMMIT_REF_SLUG=$(echo ${CI_COMMIT_REF_SLUG} | tr / - | cut -c -30 |  sed -E 's#-+$##')
    - URL_PREFIX=""
    - FRONTEND_URL_TILES_PREFIX=""
    - URL_PROTOCOL="https"
    - ENV_TYPE="production"
    - REPLICA_COUNT="2"
    # multiple things happen here:
    # URL_PREFIX: 
    # if tag => ""
    # if master => "staging."
    # if fb => "${CI_COMMIT_REF_SLUG}."
    # Furthermore, the FRONTEND_URL_TILES_PREFIX is set because the tile server will not be deployed on a per fb-basis
    # FRONTEND_URL_TILES_PREFIX:
    # if tag => ""
    # if master => "staging."
    # if fb => "staging."
    - if ! [[ ${CI_COMMIT_TAG} =~ ^v[0-9].[0-9].[0-9] ]]; then FRONTEND_URL_TILES_PREFIX="staging."; ENV_TYPE="staging"; REPLICA_COUNT="1"; if [[ ${CI_COMMIT_BRANCH} =~ ^${STAGING_BRANCH}$ ]]; then URL_PREFIX="staging."; else URL_PREFIX="${SHORTENED_CI_COMMIT_REF_SLUG}."; ENV_TYPE="review"; REPLICA_COUNT="1"; fi fi
    # Build the frontend url: prefix.suffix
    - URL_FRONTEND="${URL_PREFIX}${URL_SUFFIX}"
    # Build the backend url: prefix.api.suffix
    - URL_BACKEND="${URL_PREFIX}api.${URL_SUFFIX}"
    # Build the tiles url: prefix.tiles.suffix
    - URL_TILES="${URL_PREFIX}tiles.${URL_SUFFIX}"
    # This variable is used in the build job to set the api url in the environment.prod.ts
    - FRONTEND_URL_BACKEND="${URL_PREFIX}api.${URL_SUFFIX}"
    # This variable is used in the build job to set the tiles server url in the environment.prod.ts
    - FRONTEND_URL_TILES="${FRONTEND_URL_TILES_PREFIX}tiles.${URL_SUFFIX}"
    # all the stuff into the var.env
    - echo "ENV_TYPE=${ENV_TYPE}" >> var.env
    - echo "VERSION=${VERSION}" >> var.env
    - echo "URL_PROTOCOL=${URL_PROTOCOL}" >> var.env
    - echo "URL_FRONTEND=${URL_FRONTEND}" >> var.env
    - echo "URL_BACKEND=${URL_BACKEND}" >> var.env
    - echo "URL_TILES=${URL_TILES}" >> var.env
    - echo "FRONTEND_URL_BACKEND=${FRONTEND_URL_BACKEND}" >> var.env
    - echo "FRONTEND_URL_TILES=${FRONTEND_URL_TILES}" >> var.env
    - echo "REPLICA_COUNT=${REPLICA_COUNT}" >> var.env
    # DEBUG
    - cat var.env
  artifacts:
    paths:
      - var.env
    expire_in: 3000 days
  tags:
    - docker

###########################################
# DEFINE BRANCH TRIGGER RULES
###########################################

#--------------------
# Deployment
#--------------------

.rules-backend: &rules-backend
  rules:     
  # do not run pipelines for merge requests (gets rid of "detatched pipelines")
  - if: $CI_MERGE_REQUEST_ID
    when: never
  # if this is set, run this job all the time
  - if: $RUN_ALWAYS == "yes"
    when: on_success
  # run if files changed
  # and if it should run on a feature branch or it should run on master
  # - changes:
  #     # - Backend/**/*
  #     # - k8/Backend/**/*
  #     # - .gitlab-ci.yml
  - if: $RUN_ON_FB == "yes" && $CI_COMMIT_BRANCH != $STAGING_BRANCH && $CI_COMMIT_TAG == null
    when: on_success
  # - changes:
  #     - Backend/**/*
  #     - k8/Backend/**/*
  #     - .gitlab-ci.yml
  - if: $RUN_ON_MASTER == "yes" && $CI_COMMIT_BRANCH == $STAGING_BRANCH
    when: on_success
  # run if tagged
  - if: $RUN_ON_TAG == "yes" && $CI_COMMIT_TAG =~ /^v.*/
    when: on_success
  # default is on_success, so explicitly set job not to run if none of the above rules matched
  - when: never

.rules-frontend: &rules-frontend
  rules:     
  # do not run pipelines for merge requests (gets rid of "detatched pipelines")
  - if: $CI_MERGE_REQUEST_ID
    when: never
  # if this is set, run this job all the time
  - if: $RUN_ALWAYS == "yes"
    when: on_success
  # run if files changed
  # and if it should run on a feature branch or it should run on master
  # - changes:
  #     - Frontend/**/*
  #     - k8/Frontend/**/*
  #     - .gitlab-ci.yml
  - if: $RUN_ON_FB == "yes" && $CI_COMMIT_BRANCH != $STAGING_BRANCH && $CI_COMMIT_TAG == null
    when: on_success
  # - changes:
  #     - Frontend/**/*
  #     - k8/Frontend/**/*
  #     - .gitlab-ci.yml
  - if: $RUN_ON_MASTER == "yes" && $CI_COMMIT_BRANCH == $STAGING_BRANCH
    when: on_success
  # run if tagged
  - if: $RUN_ON_TAG == "yes" && $CI_COMMIT_TAG =~ /^v.*/
    when: on_success
  # default is on_success, so explicitly set job not to run if none of the above rules matched
  - when: never

.rules-crawler: &rules-crawler
  rules:     
  # do not run pipelines for merge requests (gets rid of "detatched pipelines")
  - if: $CI_MERGE_REQUEST_ID
    when: never
  # if this is set, run this job all the time
  - if: $RUN_ALWAYS == "yes"
    when: on_success
  # run if files changed
  # and if it should run on a feature branch or it should run on master
  - changes:
      - Crawler/**/*
      - k8/Crawler/**/*
      - k8/crawler-new/**/*
      - .gitlab-ci.yml
    if: $RUN_ON_FB == "yes" && $CI_COMMIT_BRANCH != $STAGING_BRANCH && $CI_COMMIT_TAG == null
    when: on_success
  - changes:
      - Crawler/**/*
      - k8/Crawler/**/*
      - k8/crawler-new/**/*
      - .gitlab-ci.yml
    if: $RUN_ON_MASTER == "yes" && $CI_COMMIT_BRANCH == $STAGING_BRANCH
    when: on_success
  # run if tagged
  - if: $RUN_ON_TAG == "yes" && $CI_COMMIT_TAG =~ /^v.*/
    when: on_success
  # default is on_success, so explicitly set job not to run if none of the above rules matched
  - when: never


.rules-tiles: &rules-tiles
  rules:     
  # do not run pipelines for merge requests (gets rid of "detatched pipelines")
  - if: $CI_MERGE_REQUEST_ID
    when: never
  # if this is set, run this job all the time
  - if: $RUN_ALWAYS == "yes"
    when: on_success
  # run if files changed
  # and if it should run on a feature branch or it should run on master
  - changes:
      - Tiles/**/*
      - k8/Tiles/**/*
      - k8/tiles-new/**/*
      - .gitlab-ci.yml
    if: $RUN_ON_FB == "yes" && $CI_COMMIT_BRANCH != $STAGING_BRANCH && $CI_COMMIT_TAG == null
    when: on_success
  - changes:
      - Tiles/**/*
      - k8/Tiles/**/*
      - k8/tiles-new/**/*
      - .gitlab-ci.yml
    if: $RUN_ON_MASTER == "yes" && $CI_COMMIT_BRANCH == $STAGING_BRANCH
    when: on_success
  # run if tagged
  - if: $RUN_ON_TAG == "yes" && $CI_COMMIT_TAG =~ /^v.*/
    when: on_success
  # default is on_success, so explicitly set job not to run if none of the above rules matched
  - when: never

#--------------------
# Environment Cleanup
#--------------------


.rules-backend-cleanup: &rules-backend-cleanup
  rules:
    # do not run pipelines for merge requests (gets rid of "detatched pipelines")
    - if: $CI_MERGE_REQUEST_ID
      when: never
    # if this is set, run this job all the time
    - if: $RUN_ALWAYS == "yes"
      when: manual
    # run if files changed
    # and if it should run on a feature branch or it should run on master
    # - changes:
    #     - Backend/**/*
    #     - k8/Backend/**/*
    #     - .gitlab-ci.yml
    - if: $RUN_ON_FB == "yes" && $CI_COMMIT_BRANCH != $STAGING_BRANCH && $CI_COMMIT_TAG == null
      when: manual
      allow_failure: true
    # - changes:
    #     - Backend/**/*
    #     - k8/Backend/**/*
    #     - .gitlab-ci.yml
    - if: $RUN_ON_MASTER == "yes" && $CI_COMMIT_BRANCH == $STAGING_BRANCH
      when: manual
      allow_failure: true
    # default is on_success, so explicitly set job not to run if none of the above rules matched
    - when: never

.rules-frontend-cleanup: &rules-frontend-cleanup
  rules:
    # do not run pipelines for merge requests (gets rid of "detatched pipelines")
    - if: $CI_MERGE_REQUEST_ID
      when: never
    # if this is set, run this job all the time
    - if: $RUN_ALWAYS == "yes"
      when: manual
    # run if files changed
    # and if it should run on a feature branch or it should run on master
    # - changes:
    #     - Frontend/**/*
    #     - k8/Frontend/**/*
    #     - .gitlab-ci.yml
    - if: $RUN_ON_FB == "yes" && $CI_COMMIT_BRANCH != $STAGING_BRANCH && $CI_COMMIT_TAG == null
      when: manual
      allow_failure: true
    # - changes:
    #     - Frontend/**/*
    #     - k8/Frontend/**/*
    #     - .gitlab-ci.yml
    - if: $RUN_ON_MASTER == "yes" && $CI_COMMIT_BRANCH == $STAGING_BRANCH
      when: manual
      allow_failure: true
    # default is on_success, so explicitly set job not to run if none of the above rules matched
    - when: never

###########################################
# BUILD
###########################################

.build-frontend: &build-frontend
  stage: build:frontend
  image: node:latest
  script:
    - source var.env
    - cd ./Frontend
    - export FRONTEND_URL_BACKEND
    - export FRONTEND_URL_TILES
    - export URL_PROTOCOL
    - export VERSION
    - export ENV_TYPE
    - sh -c ./replace-environment-urls.sh
    - cd ./gis
    - npm install
    - npm run-script build:i18n:${LOCALE}
  artifacts:
    expire_in: 1 day
    paths:
      - ./Frontend/gis/dist
  cache:
    key: 
      files:
        - ./Frontend/gis/package.json
        - ./Frontend/gis/package-lock.json
    paths:
      - ./Frontend/gis/node_modules
  dependencies:
    - export-environment
  needs:
    - export-environment
  tags:
    - docker

build-frontend-de:
  extends: .build-frontend
  variables:
    LOCALE: de

build-frontend-en:
  extends: .build-frontend
  variables:
    LOCALE: en

###########################################
# DOCKERIZE
###########################################

.dockerize-template: &dockerize-template
  stage: build:docker
  image: docker:latest
  services: 
    - docker:dind
  script:
    # needed for VERSION
    - source var.env
    - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - cd ${FOLDER}
    # generate imagename using a lowercased foldername == app
    - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
    - IMG="${CI_REGISTRY_IMAGE}/${IMGNAME}:${VERSION}"
    - docker build --build-arg VERSION=${VERSION} -t "$IMG" .
    - docker push "$IMG"
  tags:
    - docker-build

dockerize-backend:
  variables:
    FOLDER: Backend
    # we build and deploy always to keep backend and frontend in sync
    RUN_ALWAYS: "yes"
    RUN_ON_FB: "yes"
    RUN_ON_MASTER: "yes"
    RUN_ON_TAG: "yes"
  <<: *dockerize-template
  <<: *rules-backend
  needs:
    - export-environment
  dependencies:
    - export-environment

dockerize-frontend:
  variables:
    FOLDER: Frontend
    # we build and deploy always to keep backend and frontend in sync
    RUN_ALWAYS: "yes"
    RUN_ON_FB: "yes"
    RUN_ON_MASTER: "yes"
    RUN_ON_TAG: "yes"
  <<: *dockerize-template
  <<: *rules-frontend
  needs:
    - build-frontend-de
    - build-frontend-en
    - export-environment
  dependencies:
    - build-frontend-de
    - build-frontend-en
    - export-environment

dockerize-crawler:
  variables:
    FOLDER: Crawler
    RUN_ALWAYS: "no"
    # Yes? In case the build image fails this could help with MR?
    RUN_ON_FB: "yes"
    RUN_ON_MASTER: "yes"
    RUN_ON_TAG: "yes"
  <<: *dockerize-template
  <<: *rules-crawler
  needs:
    - export-environment
  dependencies:
    - export-environment

dockerize-tiles:
  variables:
    FOLDER: Tiles
    RUN_ALWAYS: "no"
    RUN_ON_FB: "no"
    RUN_ON_MASTER: "yes"
    RUN_ON_TAG: "yes"
    GIT_SUBMODULE_STRATEGY: "recursive"
  <<: *dockerize-template
  <<: *rules-tiles
  needs:
    - export-environment
  dependencies:
    - export-environment

###########################################
# DEPLOY NEW CLUSTER
###########################################

.deploy-script-new: &deploy-template-new
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint: ["sh", "-c", "apk add bash sed && /bin/bash"]
  script:
    - echo $KUBECONFIG
    - source var.env
    # DEBUG
    - cat var.env
    # using the app name converted to uppercase to generate the url accessor, result: URL_BACKEND
    - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
    # DEBUG
    - echo $URL_ACCESSOR
    # this will retrieve the content of the actual URL_BACKEND variable
    - URL=${!URL_ACCESSOR}
    # DEBUG
    - echo ${URL}
    # generates the chart name using the environment name, replace all / with -; result: review-backend-100-fancify-pipeline
    - CHART_NAME=$(echo ${CI_ENVIRONMENT_NAME} | tr / - | cut -c -53 | sed -E 's#-+$##')
    # DEBUG
    - echo ${CHART_NAME}
    # write the url into the var.env file for the dynamic env url generation
    - echo "URL=${URL}" >> var.env
    # use chart name and the folder by uppercasing the first character of the app name; result: Backend
    - helm upgrade --namespace=${K8_NAMESPACE} --dry-run --debug --install --set sha="${VERSION}" --set url=${URL} --set urlProtocol=${URL_PROTOCOL} --set environment=${ENV_TYPE} --set replicaCount=${REPLICA_COUNT} ${CHART_NAME} ./k8/${APP}-new
    - helm upgrade --namespace=${K8_NAMESPACE} --install --set sha="${VERSION}" --set url=${URL} --set urlProtocol=${URL_PROTOCOL} --set environment=${ENV_TYPE} --set replicaCount=${REPLICA_COUNT} ${CHART_NAME} ./k8/${APP}-new
  tags:
    - docker

#--------------------
# BACKEND
#--------------------

.deploy-backend-new: &deploy-backend-new
  <<: *deploy-template-new
  <<: *rules-backend
  before_script:
    - export KUBECONFIG=$KUBECONFIG_NEW
  variables:
    APP: backend
    RUN_ON_FB: "no"
    RUN_ON_MASTER: "no"
    RUN_ON_TAG: "no"
  environment:
    url: $URL_PROTOCOL://$URL
    name: $ENV_TYPE/$APP/$CI_COMMIT_REF_SLUG
    kubernetes:
      namespace: $K8_NAMESPACE
  artifacts:
    reports:
      dotenv: var.env
  needs:
    - dockerize-backend
    - export-environment
  dependencies:
    - dockerize-backend
    - export-environment

deploy-backend-fb-new:
  extends: .deploy-backend-new
  variables:
    ENV_TYPE: review
    RUN_ON_FB: "yes"
  environment:
    on_stop: remove-deployment-backend-review-new

deploy-backend-staging-new:
  extends: .deploy-backend-new
  before_script:
    - export KUBECONFIG=$KUBECONFIG_STAGING
  variables:
    ENV_TYPE: staging
    RUN_ON_MASTER: "yes"
    K8_NAMESPACE: covid-19-vis-staging

deploy-backend-production-new:
  extends: .deploy-backend-new
  before_script:
    - export KUBECONFIG=$KUBECONFIG_PRODUCTION
  variables:
    ENV_TYPE: production
    RUN_ON_TAG: "yes"
    K8_NAMESPACE: covid-19-vis-production
  environment:
    name: $ENV_TYPE/$APP


#--------------------
# FRONTEND
#--------------------

.deploy-frontend-new: &deploy-frontend-new
  <<: *deploy-template-new
  <<: *rules-frontend
  before_script:
    - export KUBECONFIG=$KUBECONFIG_NEW
  variables:
    APP: frontend
    RUN_ON_FB: "no"
    RUN_ON_MASTER: "no"
    RUN_ON_TAG: "no"
  environment:
    url: $URL_PROTOCOL://$URL
    name: $ENV_TYPE/$APP/$CI_COMMIT_REF_SLUG
    kubernetes:
      namespace: $K8_NAMESPACE
  artifacts:
    reports:
      dotenv: var.env
  needs:
    - dockerize-frontend
    - export-environment
  dependencies:
    - dockerize-frontend
    - export-environment


deploy-frontend-fb-new:
  extends: .deploy-frontend-new
  environment:
    on_stop: remove-deployment-frontend-review-new
  variables:
    ENV_TYPE: review
    RUN_ON_FB: "yes"

deploy-frontend-staging-new:
  extends: .deploy-frontend-new
  before_script:
    - export KUBECONFIG=$KUBECONFIG_STAGING
  variables:
    ENV_TYPE: staging
    RUN_ON_MASTER: "yes"
    K8_NAMESPACE: covid-19-vis-staging

deploy-frontend-production-new:
  extends: .deploy-frontend-new
  before_script:
    - export KUBECONFIG=$KUBECONFIG_PRODUCTION
  variables:
    ENV_TYPE: production
    RUN_ON_TAG: "yes"
    K8_NAMESPACE: covid-19-vis-production
  environment:
    name: $ENV_TYPE/$APP

#--------------------
# CRAWLER
#--------------------

.deploy-crawler-new: &deploy-crawler-new
  <<: *deploy-template-new
  <<: *rules-crawler
  before_script:
    - export KUBECONFIG=$KUBECONFIG_NEW
  variables:
    APP: crawler
    RUN_ON_FB: "no"
    RUN_ON_MASTER: "no"
    RUN_ON_TAG: "no"
  environment:
    # url: $URL_PROTOCOL://$URL
    name: $ENV_TYPE/$APP/$CI_COMMIT_REF_SLUG
    kubernetes:
      namespace: $K8_NAMESPACE
  artifacts:
    reports:
      dotenv: var.env
  needs:
    - dockerize-crawler
    - export-environment
  dependencies:
    - dockerize-crawler
    - export-environment

# deploy-crawler-fb:
#   extends: .deploy-crawler-new
#   variables:
#     ENV_TYPE: review
#     RUN_ON_FB: "yes"

deploy-crawler-staging:
  extends: .deploy-crawler-new
  variables:
    ENV_TYPE: staging
    RUN_ON_MASTER: "yes"
    K8_NAMESPACE: covid-19-vis-staging

deploy-crawler-production-new:
  extends: .deploy-crawler-new
  before_script:
    - export KUBECONFIG=$KUBECONFIG_PRODUCTION
  variables:
    ENV_TYPE: production
    RUN_ON_TAG: "yes"
    K8_NAMESPACE: covid-19-vis-production
  environment:
    name: $ENV_TYPE/$APP

#--------------------
# TILES
#--------------------

.deploy-tiles-new: &deploy-tiles-new
  <<: *deploy-template-new
  <<: *rules-tiles
  before_script:
    - export KUBECONFIG=$KUBECONFIG_NEW
  variables:
    APP: tiles
    RUN_ON_FB: "no"
    RUN_ON_MASTER: "no"
    RUN_ON_TAG: "no"
  environment:
    url: $URL_PROTOCOL://$URL
    name: $ENV_TYPE/$APP/$CI_COMMIT_REF_SLUG
    kubernetes:
      namespace: $K8_NAMESPACE
  artifacts:
    reports:
      dotenv: var.env
  needs:
    - dockerize-tiles
    - export-environment
  dependencies:
    - dockerize-tiles
    - export-environment

# deploy-tiles-fb:
#   extends: .deploy-tiles-new
#   variables:
#     ENV_TYPE: review
#     RUN_ON_FB: "yes"

deploy-tiles-staging-new:
  extends: .deploy-tiles-new
  before_script:
    - export KUBECONFIG=$KUBECONFIG_STAGING
  variables:
    ENV_TYPE: staging
    RUN_ON_MASTER: "yes"
    K8_NAMESPACE: covid-19-vis-staging

deploy-tiles-production-new:
  extends: .deploy-tiles-new
  before_script:
    - export KUBECONFIG=$KUBECONFIG_PRODUCTION
  variables:
    ENV_TYPE: production
    RUN_ON_TAG: "yes"
    K8_NAMESPACE: covid-19-vis-production
  environment:
    name: $ENV_TYPE/$APP

###########################################
# CLEANUP NEW ENV
###########################################

.remove-deployment-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint: ["sh", "-c", "apk add bash && /bin/bash"]
  variables:
    GIT_STRATEGY: none
    RUN_ON_FB: "no"
    RUN_ON_MASTER: "no"
    RUN_ON_TAG: "no"
  script:
    - export KUBECONFIG=$KUBECONFIG_NEW
    - echo $KUBECONFIG
    - CHART_NAME=$(echo "${ENV_TYPE}/${APP}/${CI_COMMIT_REF_SLUG}" | tr / - | cut -c -53 | sed -E 's#-+$##')
    # DEBUG
    - echo $CHART_NAME
    - helm delete --namespace=${K8_NAMESPACE} --dry-run --debug ${CHART_NAME}
    - helm delete --namespace=${K8_NAMESPACE} ${CHART_NAME}
  dependencies: []
  allow_failure: true
  tags:
    - docker

remove-deployment-backend-review-new:
  extends: .remove-deployment-new
  <<: *rules-backend-cleanup
  variables:
    APP: backend
    ENV_TYPE: review
    RUN_ON_FB: "yes"
  environment:
    name: $ENV_TYPE/$APP/$CI_COMMIT_REF_SLUG
    action: stop

remove-deployment-frontend-review-new:
  extends: .remove-deployment-new
  <<: *rules-frontend-cleanup
  variables:
    APP: frontend
    ENV_TYPE: review
    RUN_ON_FB: "yes"
  environment:
    name: $ENV_TYPE/$APP/$CI_COMMIT_REF_SLUG
    action: stop
