blinker==1.8.2
cryptography==43.0.1
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Compress==1.17
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.0.5
Flask-Mail==0.10.0
Flask-Marshmallow==1.2.1
SQLAlchemy==1.4.54
geojson==3.1.0
GeoAlchemy2==0.15.2
gunicorn==23.0.0
Werkzeug==3.0.4
sentry-sdk==1.45.1
psycopg2-binary==2.9.10
python-dotenv==1.0.1
marshmallow-sqlalchemy==1.1.0
bcrypt==4.2.0
alembic==1.13.3
tzdata==2024.2
tzlocal==5.2
prometheus-flask-exporter==0.23.1
flasgger==0.9.7.1
