blinker==1.7.0
cryptography==42.0.1
Flask==3.0.1
Flask-Caching==2.1.0
Flask-Compress==1.14
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.0.5
Flask-Mail==0.9.1
Flask-Marshmallow==1.1.0
SQLAlchemy==1.4.51
geojson==3.1.0
GeoAlchemy2==0.14.3
gunicorn==21.2.0
Werkzeug==3.0.1
sentry-sdk==1.40.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
marshmallow-sqlalchemy==0.30.0
bcrypt==4.1.2
alembic==1.13.1
tzdata==2023.4
tzlocal==5.2
prometheus-flask-exporter==0.23.0
flasgger==0.9.7.1
