<h1 id="beschreibung-der-darstellung-der-fallzahlen" i18n="help| help@@title3">
    Beschreibung der Darstellung der Fallzahlen
</h1>
<div fxLayout="row" fxLayout.xs="column" class="visdescription">
    <div fxFlex class="helpimg">
        <img class="helpimg" src="/assets/covisexpl2.png" style="max-width: 650px;" alt="Explanation Figure">
    </div>
    <div fxFlex class="helptxt">
        <p i18n="help| help@@visdescription3">
            Die Fallzahlen stammen aus den offiziellen <a href="esri.de/corona">RKI-Datensätzen</a>. Sie können nach
            Ländern, Bezirken und Kreisen dargestellt werden, und zwar die aktuellen Zahlen, als auch in den letzten 24
            oder 72 Stunden. Dabei können die Gesamtzahl der erfassten Fälle oder die Veränderung im gewählten Zeitraum
            angezeigt werden. Es kann weiter unterschieden werden zwischen Erkrankungen und Todesfällen. Außerdem kann
            gewählt werden, ob die Darstellung absolut oder pro 100.000 Einwohner angezeigt werden soll. Wenn man auf
            der Karte über einen Kreis oder Bezirk fährt, zeigt ein Tooltip genaue Statistiken.
        </p>
    </div>
</div>