

<div class="legend bedlegend" *ngIf="mo.bedBackgroundOptions.enabled === false && choroplethLayer">
  <h5 i18n="legend|cases@@cases" (click)="legendCasesExtended = !legendCasesExtended" matTooltip="Klicken um Legende ein-/auszuklappen">Fallzahlen</h5>
    <div *ngIf="legendCasesExtended">
      <div class="row" *ngFor="let b of caseColors">

        <div class="rect" [ngStyle]="{ 'background-color': b.color }"></div>

        <div class="text" [innerHtml]="b.text"></div>

      </div>
    </div>
    <div *ngIf="!legendCasesExtended">
      <div class="row">
        <div class="text" [innerHtml]="casesMin"></div>
        <div *ngFor="let b of caseColors;"  class="rect" [ngStyle]="{ 'background-color': b.color }" matTooltip="{{ b.text }}"></div>
        <div class="text" [innerHtml]="casesMax"></div>
      </div>
    </div>
</div>


<div class="legend bedlegend" *ngIf="mo.bedBackgroundOptions.enabled === true || mo.bedGlyphOptions.enabled === true" >
  <h5 i18n="legend|beds@@beds" (click)="legendBedsExtended = !legendBedsExtended" matTooltip="Klicken um Legende ein-/auszuklappen">Bettenauslastung</h5>

  <div *ngIf="legendBedsExtended">
    <div class="row" *ngFor="let b of bedStatusColors">

        <div class="rect" [ngStyle]="{ 'background-color': getBedColor(b) }"></div>

        <div class="text">{{ b }}</div>

    </div>
  </div>
  <div *ngIf="!legendBedsExtended">
    <div class="row">
      <div class="beside" *ngFor="let b of bedStatusColors;" matTooltip="{{ b }}">

        <div class="rect" [ngStyle]="{ 'background-color': getBedColor(b) }"></div>

        <div class="text">{{ bedStatusIcons[b] }}</div>

      </div>
    </div>
  </div>
</div>
