

<div class="legend bedlegend" *ngIf="mo.bedBackgroundOptions.enabled === false && choroplethLayer">
  <h5 
  class="title"
  (click)="legendCasesExtended = !legendCasesExtended" 
  i18n-matTooltip="@@legendToggleTooltip" 
  matTooltip="Klicken um Legende ein-/auszuklappen"
  >{{ title }}</h5>
    <div *ngIf="legendCasesExtended">
    <table>

      <tr *ngFor="let b of caseBins">

        <td><div class="rect" [ngStyle]="{ 'background-color': b.color }"></div></td>

        <td class="lower">
          {{ getBinStr(b.min) }}
        </td>

        <td class="dash" *ngIf="b.min !== b.max">–</td>

        <td class="upper" *ngIf="b.min !== b.max">
          {{ getBinStr(b.max) }}
        </td>
      </tr>
    </table>
    </div>
        
    <div *ngIf="!legendCasesExtended">
      <div class="row">
        <div class="text" [innerHtml]="getBinStr(caseBins[0].min)"></div>
        <div *ngFor="let b of caseBins"  class="rect" [ngStyle]="{ 'background-color': b.color }" matTooltip="{{ getBinStr(b.min) }} – {{ getBinStr(b.max) }}"></div>
        <div class="text" [innerHtml]="getBinStr(caseBins[caseBins.length - 1].max)"></div>
      </div>
    </div>

    <div>
      <h5 class="source" i18n="@@legendDatasourceRki">Datenquelle: <a href="https://rki.de">Robert Koch Institut</a></h5>
    </div>
</div>


<div class="legend bedlegend" *ngIf="mo.bedBackgroundOptions.enabled === true || mo.bedGlyphOptions.enabled === true" >
  <h5 i18n="legend|beds@@beds" (click)="legendBedsExtended = !legendBedsExtended" i18n-matTooltip="@@legendToggleTooltip" matTooltip="Klicken um Legende ein-/auszuklappen">Bettenauslastung</h5>

  <div *ngIf="legendBedsExtended">
  <table>
    <tr *ngFor="let b of bedStatusColors">
      <td><div class="rect" [ngStyle]="{ 'background-color': getBedColor(b) }"></div></td>

      <td class="text">{{ b | translate }}</td>
    </tr>
  </table>
  </div>
  
  <div *ngIf="!legendBedsExtended">
    <div class="row">
      <div class="beside" *ngFor="let b of bedStatusColors;" matTooltip="{{ b | translate }}">

        <div class="rect" [ngStyle]="{ 'background-color': getBedColor(b) }"></div>

        <div class="text">{{ bedStatusIcons[b] | translate }}</div>

      </div>
    </div>
  </div>

  <div>
    <h5 class="source" i18n="@@legendDatasourceDivi">Datenquelle: <a href="https://intensivregister.de">DIVI Intensivregister</a></h5>
  </div>
</div>
