

<div class="legend bedlegend" *ngIf="(mo$ | async)?.bedBackgroundOptions.enabled === false && choroplethLayer$ | async">
  <h5 
  class="title"
  (click)="legendCasesExtended = !legendCasesExtended" 
  i18n-matTooltip="@@legendToggleTooltip" 
  matTooltip="Klicken um Legende ein-/auszuklappen"
  matTooltipPosition="above"
  >{{ titleCases$ | async }}</h5>
    <div *ngIf="legendCasesExtended">
    <table>

      <tr *ngFor="let b of caseBins$ | async">

        <td><div class="rect" [ngStyle]="{ 'background-color': b.color }"></div></td>

        <td class="lower">
          {{ b.minStr }}
        </td>

        <td class="dash" *ngIf="b.min !== b.max">–</td>

        <td class="upper" *ngIf="b.min !== b.max">
          {{ b.maxStr }}
        </td>
      </tr>
    </table>
    </div>
        
    <div *ngIf="!legendCasesExtended">
      <div class="row" *ngIf="(caseBins$ | async)">
        <div class="text" [innerHtml]="(caseBins$ | async)[0].minStr"></div>
        <div *ngFor="let b of caseBins$ | async"  class="rect" [ngStyle]="{ 'background-color': b.color }" matTooltip="{{ b.minStr }} – {{ b.maxStr }}"></div>
        <div class="text" [innerHtml]="(caseBins$ | async)[(caseBins$ | async).length - 1].maxStr"></div>
      </div>
    </div>

    <div>
      <h5 class="source" i18n="@@legendDatasourceRki">Datenquelle: <a href="https://rki.de">Robert Koch Institut</a></h5>
    </div>
</div>


<div class="legend bedlegend" *ngIf="(mo$ | async)?.bedBackgroundOptions.enabled === true || (mo$ | async)?.bedGlyphOptions.enabled === true" >
  <h5
  class="title" 
  (click)="legendBedsExtended = !legendBedsExtended" 
  i18n-matTooltip="@@legendToggleTooltip" 
  matTooltip="Klicken um Legende ein-/auszuklappen"
  matTooltipPosition="above"
  >{{ titleBeds$ | async }}</h5>

  <div *ngIf="legendBedsExtended">
  <table>
    <tr *ngFor="let b of bedStatusColors">
      <td><div class="rect" [ngStyle]="{ 'background-color': getBedColor(b) }"></div></td>

      <td class="text">{{ b | translate }}</td>
    </tr>
  </table>
  </div>
  
  <div *ngIf="!legendBedsExtended">
    <div class="row">
      <div class="beside" *ngFor="let b of bedStatusColors;" matTooltip="{{ b | translate }}">

        <div class="rect" [ngStyle]="{ 'background-color': getBedColor(b) }"></div>

        <div class="text">{{ bedStatusIcons[b] | translate }}</div>

      </div>
    </div>
  </div>

  <div>
    <h5 class="source" i18n="@@legendDatasourceDivi">Datenquelle: <a href="https://intensivregister.de">DIVI Intensivregister</a></h5>
  </div>
</div>
