pandas==1.3.0
numpy==1.21.0
urllib3==1.26.6
openpyxl==3.0.7
requests==2.25.1
shapely==1.7.1
geopy==2.1.0
geojson==2.5.0
SQLAlchemy==1.4.20
GeoAlchemy2==0.9.1
psycopg2-binary==2.9.1
sentry_sdk==1.2.0
python-dotenv==0.18.0
zeep==4.0.0
holidays==0.11.1
