pandas==2.2.2
numpy==2.1.0
urllib3==2.2.2
openpyxl==3.1.5
requests==2.32.3
shapely==2.0.5
geopy==2.4.1
geojson==3.1.0
SQLAlchemy==1.4.53
GeoAlchemy2==0.15.2
psycopg2-binary==2.9.9
sentry_sdk==1.45.1
python-dotenv==1.0.1
zeep==4.2.1
holidays==0.54
jsonschema==4.23.0
types-psycopg2==2.9.21.20240819
pytz==2024.1