pandas==2.1.4
numpy==1.26.3
urllib3==2.1.0
openpyxl==3.1.2
requests==2.31.0
shapely==2.0.2
geopy==2.4.1
geojson==3.1.0
SQLAlchemy==1.4.51
GeoAlchemy2==0.14.3
psycopg2-binary==2.9.9
sentry_sdk==1.39.2
python-dotenv==1.0.0
zeep==4.2.1
holidays==0.40
jsonschema==4.21.0
types-psycopg2==2.9.21.20240106
pytz==2023.3.post1