
<div class="cur">
    {{ currentTimeDate | date:'shortDate' }}
</div>

<!-- <nouislider 
*ngIf="timeExtent"
class="slider" 
[config]="nouiConfig"
[min]="timeExtent[0]" 
[max]="timeExtent[1]" 
[step]="24 * 60 * 60"
[(ngModel)]="currentTime" 
(ngModelChange)="sliderChanging($event)" 
(change)="sliderChanged($event)"
></nouislider> -->


<mat-slider
        class="slider"
        [max]="timeExtent[1]"
        [min]="timeExtent[0]"
        [step]="24 * 60 * 60"
        [tickInterval]="numTicks"
        [(ngModel)]="currentTime"
        (input)="sliderChanging($event)"
        (change)="sliderChanged($event)"
>
    </mat-slider>