<span class="hidden" #i18nAltersgruppe i18n="@@caseDodYAxisAltersgruppe">Altersgruppe</span>
<span class="hidden" #i18nDatum i18n="@@caseDodXAxisDatum">Datum</span>
<span class="hidden" #i18nWoche i18n="@@caseDodXAxisWoche">Woche</span>
<span class="hidden" #i18nVal i18n="@@caseDodZAxisVal">7-Tages-Inzidenz</span>

<h4 class="title">
    <span>Positiv getestete </span>
    <span>innerhalb </span>
    <span>7 Tage </span>
    <span>pro 100k Einwohner</span>
</h4>


<app-vega [spec]="spec"></app-vega>


<div class="datasources" *ngIf="_dataAndOptions">
    <app-data-source [source]="_dataAndOptions.chartOptions.dataSource"></app-data-source>
</div>