<h3>{{ data.Name }}</h3>
<mat-divider></mat-divider>
<table>
  <tbody>
  <tr>
    <th>ICU - Low Care:</th>
    <th>ICU - High Care:</th>
    <th>ECMO:</th>
  </tr>
  <tr>
    <td [ngStyle]="{'background-color': getCapacityStateColor(data.icuLowCare) }">{{ data.icuLowCare }}</td>
    <td [ngStyle]="{'background-color': getCapacityStateColor(data.icuHighCare) }">{{ data.icuHighCare }}</td>
    <td [ngStyle]="{'background-color': getCapacityStateColor(data.ECMO) }">{{ data.ECMO }}</td>
  </tr>
  </tbody>
</table>
<br>

<strong>Entwicklung:</strong>
<div *ngFor="let s of specs">
  <app-vega [spec]="s"></app-vega>
</div>

<div *ngIf="mode === 'dialog'">
  <!--h3>{{ data.Name }}</h3>
  <mat-divider></mat-divider-->
  <p style="margin-top: 10px;">
    <strong>Adresse: </strong> {{ data.Adress }}
  </p>
  <p>
    <strong>Kontakt: </strong>
    <a *ngIf="url" href="{{ contact }}">{{ contactMsg }}</a>
    <span *ngIf="!url">{{ contactMsg }}</span>
  </p>
</div>

<p><strong>Letzter Stand: </strong> {{ data.Stand }}</p>

