<div class="outer" *ngIf="dashboard">
    <mat-toolbar color="primary">
      <button mat-icon-button matTooltip="Copy URL" (click)="copyUrl()">
        <mat-icon>add_link</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Save as new dashboard" (click)="save()">
        <mat-icon>save</mat-icon>
      </button> | 
      <button mat-icon-button matTooltip="Edit title" (click)="openEditTitleDialog()">
        <mat-icon>edit</mat-icon>
      </button>
      <h1>{{ dashboard.title }}</h1>

      

      <span class="example-spacer"></span>

      <button mat-icon-button matTooltip="Upvote this dashboard" (click)="upvote()" [disabled]="dashboard.id.length < 6">
        <mat-icon>thumb_up</mat-icon>
      </button> {{ dashboard.upvotes }} | 
      &nbsp;<mat-icon matTooltip="Number of views">visibility</mat-icon>&nbsp; {{ dashboard.visits }}
    </mat-toolbar>
    <mat-card>

      <div class="main">
          



        <div class="root timelines draggable-list" cdkDropList (cdkDropListDropped)="drop($event)">


          <div class="draggable-box timeline row" *ngIf="pleaseWait">           
            
            <div class="icons"> 
              <button mat-icon-button aria-label="settings" class="icon filter" disabled="disabled" matTooltip="Filter Settings">
                  <mat-icon>settings</mat-icon>
              </button> 
    
              <button mat-icon-button aria-label="delete" class="icon filter" disabled="disabled" matTooltip="Remove">
                  <mat-icon>delete</mat-icon>
              </button>
            </div>
    

            <div class="please-wait" #pleaseWait style="width: 100%">
              <mat-spinner diameter="40" strokeWidth="2" style="margin: 40px 80px;"></mat-spinner>
              <h3 i18n="@@pleaseWaitLoading">Bitte warten... lädt</h3>
            </div>
          </div>

            <div class="draggable-box timeline row" *ngFor="let timelineItem of dashboard.items; index as idx" cdkDrag>           
              
              <div class="icons">
                <mat-icon class="icon draw" aria-hidden="false" aria-label="drag me" cdkDragHandle>drag_indicator</mat-icon>

                <button *ngIf="timelineItem.type === 'markdown'" mat-icon-button aria-label="settings" class="icon filter" (click)="timelineItem._text = timelineItem.text; timelineItem._editMode = true" matTooltip="Edit Text" >
                    <mat-icon>edit</mat-icon>
                </button>
      
                <button *ngIf="timelineItem.type !== 'markdown'" mat-icon-button aria-label="settings" class="icon filter" (click)="openSettings(timelineItem, idx)" matTooltip="Chart Settings">
                    <mat-icon>settings</mat-icon>
                </button> 
    
                <button *ngIf="!timelineItem._reallyDelete" mat-icon-button aria-label="delete" class="icon filter" (click)="timelineItem._reallyDelete = true" matTooltip="Remove">
                    <mat-icon>delete</mat-icon>
                </button>

                <div *ngIf="timelineItem._reallyDelete">
                  <button mat-icon-button aria-label="delete" class="icon filter" (click)="remove(timelineItem)" matTooltip="Yes, remove">
                    <mat-icon>check</mat-icon>
                  </button>

                  <button mat-icon-button aria-label="delete" class="icon filter" (click)="timelineItem._reallyDelete = false" matTooltip="No, cancel">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
      
              <div *ngIf="timelineItem.type === 'markdown'" class="full-width">
                <div *ngIf="timelineItem._editMode">
                  <mat-toolbar i18n="@@dashboardVorschau">Vorschau</mat-toolbar>
                  <markdown [ngStyle]="{'display': 'block', 'background-color': 'lightgrey'}" [data]="timelineItem._text" emoji></markdown>
  
                  <mat-form-field style="margin-top: 10px;" class="full-width">
                    <mat-label i18n="@@dashboardEditText">Text bearbeiten</mat-label>
                    <textarea matInput [(ngModel)]="timelineItem._text" cdkTextareaAutosize></textarea>
                  </mat-form-field>

                  <button mat-raised-button color="primary" (click)="timelineItem.text = timelineItem._text; timelineItem._editMode = false" i18n="@@buttonSave">Speichern</button> 
                  <button style="margin-left: 10px;" mat-raised-button color="warn" (click)="timelineItem._editMode = false" i18n="@@buttonCancel">Abbrechen</button>
                </div>

                <markdown *ngIf="!timelineItem._editMode" [data]="timelineItem.text" emoji></markdown>
              </div>
              
              <div *ngIf="timelineItem.type === 'separator'" class="separator">
                <hr>
              </div>

              <div *ngIf="timelineItem.type === 'pixel'" style="width: 100%;">
                <app-pixel-chart [dataAndOptions]="timelineItem._compiled"></app-pixel-chart>
              </div>

              <div *ngIf="timelineItem.type === 'multiline'" style="width: 100%">
                <app-multi-line-chart [dataAndOptions]="timelineItem._compiled"></app-multi-line-chart>
              </div>

              <div *ngIf="timelineItem.type === 'table'" style="width: 100%">
                <app-table-overview [tableData$]="timelineItem._compiled"></app-table-overview>
              </div>
            </div>
      
            <div class="timeline row button-row">
              <div>
                <button mat-fab color="primary" [matMenuTriggerFor]="menu">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="add('markdown')" i18n="@@dashboardAddTextBlock">Neuen Textblock hinzufügen</button>
                  <button mat-menu-item (click)="add('multiline')" i18n="@@dasboardAddChart">Neuen Chart hinzufügen</button>
                </mat-menu>
              </div>
            </div>
          </div>
      </div>
    </mat-card>
  </div>
  