.trend-wrapper {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  
    .trend-icon-wrapper {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      justify-content: center;
  
      h4,p {
        margin: 0;
      }
  
      p {
        font-size: 12px;
      }
  
      .trend-icon {
        font-size: 5em;
        width: 60px;
        height: 60px;
      }
    }
  
    
  }