<span class="hidden" #i18nAltersgruppe i18n="@@caseDodYAxisAltersgruppe">Altersgruppe</span>
<span class="hidden" #i18nDatum i18n="@@caseDodXAxisDatum">Datum</span>
<span class="hidden" #i18nWoche i18n="@@caseDodXAxisWoche">Woche</span>
<span class="hidden" #i18nVal i18n="@@caseDodZAxisVal">7-Tages-Inzidenz</span>

<h4 class="title">
    {{ _dataAndOptions?.chartOptions?.title }}
</h4>


<app-vega [spec]="spec"></app-vega>


<div class="datasources" *ngIf="_dataAndOptions">
    <p i18n="@@agegroupChartLastWeekHint" class="hint">
        Inzidenzen der aktuellen Kalenderwoche sind niedriger und enthalten Unsicherheiten. Ab Mitte der Woche können Tendenzen sichtbar werden.
    </p>

    <app-data-source source="divi"></app-data-source>
</div>