<div class="outer">
    <mat-card>
      <div class="main">
          



        <div class="root timelines draggable-list" cdkDropList (cdkDropListDropped)="drop($event)">


          <div class="draggable-box timeline row" *ngIf="pleaseWait">
            <mat-icon class="icon draw" disabled="disabled" aria-hidden="false" aria-label="drag me">drag_indicator</mat-icon>            
            
            <div class="icons"> 
              <button mat-icon-button aria-label="settings" class="icon filter" disabled="disabled" matTooltip="Filter Settings">
                  <mat-icon>settings</mat-icon>
              </button> 
    
              <button mat-icon-button aria-label="delete" class="icon filter" disabled="disabled" matTooltip="Remove">
                  <mat-icon>delete</mat-icon>
              </button>
            </div>
    

            <div class="please-wait" #pleaseWait style="width: 100%">
              <h3>Please wait... loading</h3>
            </div>
          </div>

            <div class="draggable-box timeline row" *ngFor="let timelineItem of timelineData; index as idx" cdkDrag>
              <mat-icon class="icon draw" aria-hidden="false" aria-label="drag me" cdkDragHandle>drag_indicator</mat-icon>            
              
              <div class="icons">
                <button *ngIf="timelineItem.type === 'markdown'" mat-icon-button aria-label="settings" class="icon filter" (click)="timelineItem._text = timelineItem.text; timelineItem._editMode = true" matTooltip="Edit Text" >
                    <mat-icon>edit</mat-icon>
                </button>
      
                <button *ngIf="timelineItem.type !== 'markdown'" mat-icon-button aria-label="settings" class="icon filter" (click)="openSettings(timelineItem, idx)" matTooltip="Filter Settings">
                    <mat-icon>settings</mat-icon>
                </button> 
    
                <button *ngIf="!timelineItem._reallyDelete" mat-icon-button aria-label="delete" class="icon filter" (click)="timelineItem._reallyDelete = true" matTooltip="Remove">
                    <mat-icon>delete</mat-icon>
                </button>

                <div *ngIf="timelineItem._reallyDelete">
                  <button mat-icon-button aria-label="delete" class="icon filter" (click)="remove(timelineItem)" matTooltip="Yes, remove">
                    <mat-icon>check</mat-icon>
                  </button>

                  <button mat-icon-button aria-label="delete" class="icon filter" (click)="timelineItem._reallyDelete = false" matTooltip="No, cancel">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
      
              <div *ngIf="timelineItem.type === 'markdown'" class="full-width">
                <div *ngIf="timelineItem._editMode">
                  <h3 style="background-color: grey; margin: 0 0;">Vorschau:</h3>
                  <markdown [ngStyle]="{'display': 'block', 'background-color': 'lightgrey'}" [data]="timelineItem._text"></markdown>
  
                  <mat-form-field style="margin-top: 10px;" class="full-width">
                    <mat-label>Text bearbeiten</mat-label>
                    <textarea matInput [(ngModel)]="timelineItem._text" cdkTextareaAutosize></textarea>
                  </mat-form-field>

                  <button mat-raised-button color="primary" (click)="timelineItem.text = timelineItem._text; timelineItem._editMode = false">Speichern</button> 
                  <button style="margin-left: 10px;" mat-raised-button color="warn" (click)="timelineItem._editMode = false">Abbrechen</button>
                </div>

                <markdown *ngIf="!timelineItem._editMode" [data]="timelineItem.text"></markdown>
              </div>
              
              <div *ngIf="timelineItem.type === 'separator'" class="separator">
                <hr>
              </div>

              <div *ngIf="timelineItem.type === 'pixel'" style="width: 100%;">
                <app-pixel-chart [dataAndOptions]="timelineItem._compiled"></app-pixel-chart>
              </div>

              <div *ngIf="timelineItem.type === 'multiline'" style="width: 100%">
                <app-multi-line-chart [dataAndOptions]="timelineItem._compiled"></app-multi-line-chart>
              </div>
            </div>
      
            <div class="timeline row button-row">
              <div>
                <button mat-fab color="primary" [matMenuTriggerFor]="menu">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="add('separator')">-Separator-</button>
                  <button mat-menu-item (click)="openSettings()">Neuen Chart hinzufügen</button>
                </mat-menu>
              </div>
            </div>
          </div>
      </div>
    </mat-card>
  </div>
  