<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>

    <div class="toggleGroup">
        <h5 i18n="@@infoboxAggregation">Chart Type</h5>

        <mat-button-toggle-group
          class="btngrp"
          name="fontStyle"
          aria-label="Font Style"
          [value]="data.chartItem.type"
          (change)="data.chartItem.type = $event.value;"
        >
          <mat-button-toggle [value]="'multiline'" i18n="@@infoboxCountries" i18n-matTooltip="@@CountryTP"
                             matTooltip="Multi-Series-Linechart">Multi-Series-Linechart
          </mat-button-toggle>
          <mat-button-toggle [value]="'pixel'" i18n="@@infoboxStates" i18n-matTooltip="@@StatesTP"
                             matTooltip="Pixel">Altersgruppen
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    <app-region-selector [(selectedRegions)]="data.chartItem.dataRequest"></app-region-selector>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
</div>