<style type="text/css">
    table {
        border-spacing: 0;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th {
      text-align: center;
      margin: 0;
      padding: 6px;
    }

    tr th:not(:nth-child(1)) {
      border: 1px solid black;
    }

    td {
      text-align: right;
      margin: 0;
      padding: 6px;
    }

    tr td:nth-child(2),
    tr td:nth-child(4),
    tr td:nth-child(7),
    tr td:nth-child(10){
      border-left: 1px solid dimgray;
    }

    tr td:nth-child(12) {
      border-right: 1px solid dimgray;
    }

    tr:last-child td:not(:nth-child(1)) {
      border-bottom: 1px solid dimgray;
    }

    td:first-child {
      text-align: left;
    }

    .active {
        font-weight: bold;
    }
</style>

<p>
    <a href="https://coronavis.dbvis.de">Aktuelle Visualisierungen auf CoronaVis</a>
</p>

<h3>{{ county_desc }} {{ county_name }}</h3>

<h4>NEU: <a href="https://coronavis.dbvis.de/de/overview/dashboard/{{ county_id }}">{{ county_desc }} {{ county_name }} als Dashboard</a></h4>

{% if second_email == True %}
<p>Seit unserer ersten Mail heute gab es weitere Updates in diesem Landkreis:</p>
{% endif %}

<p>{{ county_population }} Einwohner</p>

<table>
    <thead>
        <tr>
            <th></th>
            <th colspan="2">Fälle Total</th>
            <th colspan="9">Veränderung</th>
        </tr>
        <tr>
            <th></th>
            <th colspan="2">{{ county_last_updated }}</th>
            <th colspan="3">letzte 24 Std</th>
            <th colspan="3">letzte 72 Std</th>
            <th colspan="3">letzte 7 Tage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Positiv Getestet</td>
            <td>{{ county_cases_total }}</td>
            <td>{{ county_cases_total_100k }}/100k</td>

            <td>{{ county_cases_24 }}</td>
            <td>{{ county_cases_24_100k }}/100k</td>
            <td>{{ county_cases_24_prc }}%</td>


            <td>{{ county_cases_72 }}</td>
            <td>{{ county_cases_72_100k }}/100k</td>
            <td>{{ county_cases_72_prc }}%</td>

            <td>{{ county_cases_7 }}</td>
            <td class="active">{{ county_cases_7_100k }}/100k</td>
            <td>{{ county_cases_7_prc }}%</td>
        </tr>

        <tr>
            <td>Todesfälle</td>
            <td>{{ county_deaths_total }}</td>
            <td>{{ county_deaths_total_100k }}/100k</td>

            <td>{{ county_deaths_24 }}</td>
            <td>{{ county_deaths_24_100k }}/100k</td>
            <td>{{ county_deaths_24_prc }}%</td>

            <td>{{ county_deaths_72 }}</td>
            <td>{{ county_deaths_72_100k }}/100k</td>
            <td>{{ county_deaths_72_prc }}%</td>

            <td>{{ county_deaths_7 }}</td>
            <td>{{ county_deaths_7_100k }}/100k</td>
            <td>{{ county_deaths_7_prc }}%</td>
        </tr>
    
        <tr>
            <td>Covid-19 Patienten</td>
            <td>{{ county_patients_total }}</td>
            <td>{{ county_patients_total_100k }}/100k</td>

            <td>{{ county_patients_24 }}</td>
            <td>{{ county_patients_24_100k }}/100k</td>
            <td>{{ county_patients_24_prc }}%</td>

            <td>{{ county_patients_72 }}</td>
            <td>{{ county_patients_72_100k }}/100k</td>
            <td>{{ county_patients_72_prc }}%</td>

            <td>{{ county_patients_7 }}</td>
            <td>{{ county_patients_7_100k }}/100k</td>
            <td>{{ county_patients_7_prc }}%</td>
        </tr>
    
        <tr>
            <td>Covid-19 Patienten (beatmet)</td>
            <td>{{ county_patients_ventilated_total }}</td>
            <td>{{ county_patients_ventilated_total_100k }}/100k</td>

            <td>{{ county_patients_ventilated_24 }}</td>
            <td>{{ county_patients_ventilated_24_100k }}/100k</td>
            <td>{{ county_patients_ventilated_24_prc }}%</td>

            <td>{{ county_patients_ventilated_72 }}</td>
            <td>{{ county_patients_ventilated_72_100k }}/100k</td>
            <td>{{ county_patients_ventilated_72_prc }}%</td>

            <td>{{ county_patients_ventilated_7 }}</td>
            <td>{{ county_patients_ventilated_7_100k }}/100k</td>
            <td>{{ county_patients_ventilated_7_prc }}%</td>
        </tr>

        <tr>
            <td>Bettenauslastung</td>
            <td>{{ county_bed_occupancy_total }}</td>
            <td>{{ county_bed_occupancy_total_prc }}%</td>

            <td>{{ county_bed_occupancy_24 }}</td>
            <td></td>
            <td>{{ county_bed_occupancy_24_prc }}%</td>

            <td>{{ county_bed_occupancy_72 }}</td>
            <td></td>
            <td>{{ county_bed_occupancy_72_prc }}%</td>

            <td>{{ county_bed_occupancy_7 }}</td>
            <td></td>
            <td>{{ county_bed_occupancy_7_prc }}%</td>
        </tr>
    </tbody>
</table>

{% if county_cases_24 == 0 %}
<p>0 neue positiv Getestete kann ebenfalls bedeuten, dass der Landkreis seit dem letzten Update keine Daten bereitgestellt hat.</p>
{% endif %}

<h3>Deutschland</h3>

<p>{{ country_population }} Einwohner</p>

<p>Daten von {{ num_counties_reported }} / {{ num_counties_total }} Landkreisen verfügbar.</p>

<p>Hochrechnung neue positiv Getestete heute: {{ prognosis }}
<br>
    Je mehr Landkreise Daten gemeldet haben desto sicherer ist die Hochrechnung.
</p>

<table>
    <thead>
        <tr>
            <th></th>
            <th colspan="2">Fälle Total</th>
            <th colspan="9">Veränderung</th>
        </tr>
        <tr>
            <th></th>
            <th colspan="2">{{ country_last_updated }}</th>
            <th colspan="3">letzte 24 Std</th>
            <th colspan="3">letzte 72 Std</th>
            <th colspan="3">letzte 7 Tage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Positiv Getestet</td>
            <td>{{ country_cases_total }}</td>
            <td>{{ country_cases_total_100k }}/100k</td>

            <td>{{ country_cases_24 }}</td>
            <td>{{ country_cases_24_100k }}/100k</td>
            <td>{{ country_cases_24_prc }}%</td>

            <td>{{ country_cases_72 }}</td>
            <td>{{ country_cases_72_100k }}/100k</td>
            <td>{{ country_cases_72_prc }}%</td>

            <td>{{ country_cases_7 }}</td>
            <td class="active">{{ country_cases_7_100k }}/100k</td>
            <td>{{ country_cases_7_prc }}%</td>
        </tr>

        <tr>
            <td>Todesfälle</td>
            <td>{{ country_deaths_total }}</td>
            <td>{{ country_deaths_total_100k }}/100k</td>

            <td>{{ country_deaths_24 }}</td>
            <td>{{ country_deaths_24_100k }}/100k</td>
            <td>{{ country_deaths_24_prc }}%</td>

            <td>{{ country_deaths_72 }}</td>
            <td>{{ country_deaths_72_100k }}/100k</td>
            <td>{{ country_deaths_72_prc }}%</td>

            <td>{{ country_deaths_7 }}</td>
            <td>{{ country_deaths_7_100k }}/100k</td>
            <td>{{ country_deaths_7_prc }}%</td>

        </tr>
    
    
        <tr>
            <td>Covid-19 Patienten</td>
            <td>{{ country_patients_total }}</td>
            <td>{{ country_patients_total_100k }}/100k</td>

            <td>{{ country_patients_24 }}</td>
            <td>{{ country_patients_24_100k }}/100k</td>
            <td>{{ country_patients_24_prc }}%</td>

            <td>{{ country_patients_72 }}</td>
            <td>{{ country_patients_72_100k }}/100k</td>
            <td>{{ country_patients_72_prc }}%</td>

            <td>{{ country_patients_7 }}</td>
            <td>{{ country_patients_7_100k }}/100k</td>
            <td>{{ country_patients_7_prc }}%</td>
        </tr>
    
        <tr>
            <td>Covid-19 Patienten (beatmet)</td>
            <td>{{ country_patients_ventilated_total }}</td>
            <td>{{ country_patients_ventilated_total_100k }}/100k</td>

            <td>{{ country_patients_ventilated_24 }}</td>
            <td>{{ country_patients_ventilated_24_100k }}/100k</td>
            <td>{{ country_patients_ventilated_24_prc }}%</td>

            <td>{{ country_patients_ventilated_72 }}</td>
            <td>{{ country_patients_ventilated_72_100k }}/100k</td>
            <td>{{ country_patients_ventilated_72_prc }}%</td>

            <td>{{ country_patients_ventilated_7 }}</td>
            <td>{{ country_patients_ventilated_7_100k }}/100k</td>
            <td>{{ country_patients_ventilated_7_prc }}%</td>
        </tr>

        <tr>
            <td>Bettenauslastung</td>
            <td>{{ country_bed_occupancy_total }}</td>
            <td>{{ country_bed_occupancy_total_prc }}%</td>

            <td>{{ country_bed_occupancy_24 }}</td>
            <td></td>
            <td>{{ country_bed_occupancy_24_prc }}%</td>

            <td>{{ country_bed_occupancy_72 }}</td>
            <td></td>
            <td>{{ country_bed_occupancy_72_prc }}%</td>

            <td>{{ country_bed_occupancy_7 }}</td>
            <td></td>
            <td>{{ country_bed_occupancy_7_prc }}%</td>
        </tr>
    </tbody>
</table>

<p>Alle Angaben ohne Gewähr.</p>

<p>
    <a href="https://coronavis.dbvis.de/overview/subscription/{{ sub_id }}/{{ token }}">Email Benachrichtigungen bearbeiten oder abbestellen.</a>
</p>
