<p>Hallo,</p>

<p>bitte bestätige deine E-Mail-Adresse mit folgendem Link: <a href="https://coronavis.dbvis.de/overview/subscription/{{ id }}/{{ token }}/verify">https://coronavis.dbvis.de/overview/subscription/{{ id }}/{{ token }}/verify</a></p>

<p>Falls du den CoronaVis E-Mail-Service nicht in Anspruch nehmen willst brauchst du nichts weiter zu unternehmen. Deine E-Mail-Adresse wird automatisch nach einer Stunde gelöscht.</p>

<p>CoronaVis: <a href="https://coronavis.dbvis.de">https://coronavis.dbvis.de</a></p>
