<div #main class="main">
  <h3>{{ this.name }}</h3>
  <mat-divider></mat-divider>
  {{ this.einwohner }} Einwohner
  <table>
    <thead>
      <tr>
        <th></th>
        <th i18n="case-tooltip|cases@@cases">Fälle Total</th>
        <th colspan="4" i18n="case-tooltip|changes@@changes">Veränderung</th>
      </tr>
      <tr>
        <th></th>
        <th>{{ this.datum | date:"d.M.y HH:mm" }}</th>
        <th colspan="2" i18n="case-tooltip|24h@@24h">letzte 24h</th>
        <th colspan="2" i18n="case-tooltip|72h@@72h">letzte 72h</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td i18n="case-tooltip|sick@@sick">Erkrankte</td>
        <td>{{ this.combined[0].cases }}</td>
        <td>{{ this.combined[0].cases - this.combined[1].cases | plusminus }}</td>
        <td>({{ this.getPercentageChange(this.combined[0].cases, this.combined[1].cases)}})</td>
        <td>{{ this.combined[0].cases - this.combined[2].cases | plusminus }}</td>
        <td>({{ this.getPercentageChange(this.combined[0].cases, this.combined[2].cases)}})</td>
      </tr>
      <tr>
        <td i18n="case-tooltip|deaths@@deaths">Todesfälle</td>
        <td>{{ this.combined[0].deaths }}</td>
        <td>{{ this.combined[0].deaths - this.combined[1].deaths | plusminus }}</td>
        <td>({{ this.getPercentageChange(this.combined[0].deaths, this.combined[1].deaths)}})</td>
        <td>{{ this.combined[0].deaths - this.combined[2].deaths | plusminus }}</td>
        <td>({{ this.getPercentageChange(this.combined[0].deaths, this.combined[2].deaths)}})</td>
      </tr>
      <tr>
        <td i18n="case-tooltip|sickScale@@sickScale">Erkrankte je 100.000 Einwohner</td>
        <td>{{ this.getCasesPer100kInhabitants(this.combined[0].cases) }}</td>
        <td>{{ this.getCasesPer100kInhabitants(this.combined[0].cases - this.combined[1].cases, true) }}</td>
        <td>({{ this.getPercentageChange(this.combined[0].cases, this.combined[1].cases)}})</td>
        <td>{{ this.getCasesPer100kInhabitants(this.combined[0].cases - this.combined[2].cases, true) }}</td>
        <td>({{ this.getPercentageChange(this.combined[0].cases, this.combined[2].cases)}})</td>
      </tr>
      <tr>
        <td i18n="case-tooltip|deathScale@@deathScale">Todesfälle je 100.000 Einwohner</td>
        <td>{{ this.getCasesPer100kInhabitants(this.combined[0].deaths) }}</td>
        <td>{{ this.getCasesPer100kInhabitants(this.combined[0].deaths - this.combined[1].deaths, true) }}</td>
        <td>({{ this.getPercentageChange(this.combined[0].deaths, this.combined[1].deaths)}})</td>
        <td>{{ this.getCasesPer100kInhabitants(this.combined[0].deaths - this.combined[2].deaths, true) }}</td>
        <td>({{ this.getPercentageChange(this.combined[0].deaths, this.combined[2].deaths)}})</td>
      </tr>
    </tbody>
  </table>
</div>
