<div #main class="main">
  <h3>{{ this.data.name }}</h3>
  <mat-divider></mat-divider>
  {{ this.data.bevoelkerung }} Einwohner
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Fälle Total</th>
        <th colspan="4">Veränderung</th>
      </tr>
      <tr>
        <th></th>
        <th>{{ this.data.until | date:"d.M.y HH:mm" }}</th>
        <th colspan="2">letzte 24h</th>
        <th colspan="2">letzte 72h</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Erkrankte</td>
        <td>{{ this.data.last.cases }}</td>
        <td>{{ this.data.last.cases - this.data.yesterday.cases | plusminus }}</td>
        <td>({{ this.getPercentageChange(this.data.last.cases, this.data.yesterday.cases)}})</td>
        <td>{{ this.data.last.cases - this.data.threeDaysAgo.cases | plusminus }}</td>
        <td>({{ this.getPercentageChange(this.data.last.cases, this.data.threeDaysAgo.cases)}})</td>
      </tr>
      <tr>
        <td>Todesfälle</td>
        <td>{{ this.data.last.deaths }}</td>
        <td>{{ this.data.last.deaths - this.data.yesterday.deaths | plusminus }}</td>
        <td>({{ this.getPercentageChange(this.data.last.deaths, this.data.yesterday.deaths)}})</td>
        <td>{{ this.data.last.deaths - this.data.threeDaysAgo.deaths | plusminus }}</td>
        <td>({{ this.getPercentageChange(this.data.last.deaths, this.data.threeDaysAgo.deaths)}})</td>
      </tr>
      <tr>
        <td>Erkrankte je 100.000 Einwohner</td>
        <td>{{ this.getCasesPer100kInhabitants(this.data.last.cases) }}</td>
        <td>{{ this.getCasesPer100kInhabitants(this.data.last.cases - this.data.yesterday.cases, true) }}</td>
        <td>({{ this.getPercentageChange(this.data.last.cases, this.data.yesterday.cases)}})</td>
        <td>{{ this.getCasesPer100kInhabitants(this.data.last.cases - this.data.threeDaysAgo.cases, true) }}</td>
        <td>({{ this.getPercentageChange(this.data.last.cases, this.data.threeDaysAgo.cases)}})</td>
      </tr>
      <tr>
        <td>Todesfälle je 100.000 Einwohner</td>
        <td>{{ this.getCasesPer100kInhabitants(this.data.last.deaths) }}</td>
        <td>{{ this.getCasesPer100kInhabitants(this.data.last.deaths - this.data.yesterday.deaths, true) }}</td>
        <td>({{ this.getPercentageChange(this.data.last.deaths, this.data.yesterday.deaths)}})</td>
        <td>{{ this.getCasesPer100kInhabitants(this.data.last.deaths - this.data.threeDaysAgo.deaths, true) }}</td>
        <td>({{ this.getPercentageChange(this.data.last.deaths, this.data.threeDaysAgo.deaths)}})</td>
      </tr>
    </tbody>
  </table>
</div>
