<div class="main">
  <h3>{{ name ? name : diviHospital.Name }}</h3>
  <mat-divider></mat-divider>
  <table>
    <tbody>
    <tr>
      <td><strong>ICU - Low Care:</strong> </td>
      <td style="background-color: {{ getCapacityStateColor(diviHospital.icuLowCare) }};
      background: {{ backgroundColScale(diviHospital.icuLowCare) }}">{{ diviHospital.icuLowCare }}</td>
    </tr>
    <tr>
      <td><strong>ICU - High Care: </strong></td>
      <td style="background-color: {{ getCapacityStateColor(diviHospital.icuHighCare) }};
      background: {{ backgroundColScale(diviHospital.icuHighCare) }}">{{ diviHospital.icuHighCare }}</td>
    </tr>
    <tr>
      <td><strong>ECMO: </strong></td>
      <td style="background-color: {{ getCapacityStateColor(diviHospital.ECMO) }};
      background: {{ backgroundColScale(diviHospital.ECMO) }}">{{ diviHospital.ECMO }}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <p><strong>Address: </strong> {{ diviHospital.Adress }}</p>
  <p><strong>Contact: </strong> {{ diviHospital.Kontakt }}</p>
  <p><strong>Date: </strong> {{ diviHospital.Stand }}</p>
</div>
