:host {
    display: block;
    pointer-events: none;
  }

  div {
    background-color: rgba(97, 97, 97, 0.9);
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    padding: 0.4rem 0.4rem;
    border-radius: 4px;
  }

  h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  div.table {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: 0.2rem 0.2rem;
  }

  .table-cell:nth-child(1) {background: white}
  .table-cell:nth-child(2) {background: white}
  .table-cell:nth-child(3) {background: white}

  @media (min-width: 40em) {
    .table {
      display: table;
      border-spacing: 0.2em;
      color: black;
    }
    .table-row {display: table-row; color: black;}
    .table-cell {
      display: table-cell;
      color: black;
      background: white;
      padding: 0.4rem 0.4rem;
    }
  }
