<div>
  <h3>{{ name ? name : diviHospital.Name }}</h3>
  <div class="table">
    <div class="table-row">
      <div class="table-cell">
        Address
      </div>
      <div class="table-cell">
        {{ diviHospital.Adress }}
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">
        ICU - Low Care
      </div>
      <div class="table-cell" style="background-color: {{ getCapacityStateColor(diviHospital.icuLowCare) }};
      background: {{ backgroundColScale(diviHospital.icuLowCare) }}">

        {{ diviHospital.icuLowCare }}
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">
        ICU - High Care
      </div>
      <div class="table-cell" style="background-color: {{ getCapacityStateColor(diviHospital.icuHighCare) }};
      background: {{ backgroundColScale(diviHospital.icuHighCare) }}">
        {{ diviHospital.icuHighCare }}
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">
        ECMO <!-- <a href="https://de.wikipedia.org/wiki/Extrakorporale_Membranoxygenierung">ECMO</a>  -->
      </div>
      <div class="table-cell" style="background-color: {{ getCapacityStateColor(diviHospital.ECMO) }};
      background: {{ backgroundColScale(diviHospital.ECMO) }}">
        {{ diviHospital.ECMO }}
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">
        Contact
      </div>
      <div class="table-cell">
        {{ diviHospital.Kontakt }}
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">
        Date
      </div>
      <div class="table-cell">
        {{ diviHospital.Stand }}
      </div>
    </div>
  </div>
</div>
