.mytile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;

    .map {
        flex-grow: 1;
        overflow: hidden;
    }
}


.footer {

    .spacer {
        flex: 1 1 auto;
    }
}