
<mat-card> 
    <mat-card-title>
        Krankenhäuser - Auslastung
    </mat-card-title>
    <mat-card-subtitle>
        <p>Aggregation</p> 
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bundeslaender">Bundesländer</mat-button-toggle>
            <mat-button-toggle value="regierungsbezirke">Regierungsbezirke</mat-button-toggle>
            <mat-button-toggle value="landkreise">Landkreise</mat-button-toggle>
            <mat-button-toggle value="ohneaggregation">Ohne Aggregation</mat-button-toggle>
        </mat-button-toggle-group>  
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <br />
    <mat-card-content>
            Filter 
            <mat-list role="list">
                    <mat-list-item role="listitem">
                            <mat-slide-toggle>Zeige Alle Krankenhäuser</mat-slide-toggle>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                            <mat-slide-toggle>Zeige Hubschrauberlandeplätze</mat-slide-toggle>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                            <mat-slide-toggle>Zeige Aktuelle Fallzahlen</mat-slide-toggle>
                    </mat-list-item>
            </mat-list>            
    </mat-card-content>
    <mat-divider></mat-divider>
    <br />
    <mat-card-content>
            <p>Legende</p> 
             <img class="legend" src="/assets/Legende.png" alt="Legende">

             <div class="legendebeschreibung">
                 <ul style="list-style-type:none;">
                        <li>¹ ICU low care = Monitoring, nicht-invasive Beatmung (NIV), keine Organersatztherapie</li>
                        <li>² ICU high care = Monitoring, invasive Beatmung, Organersatztherapie, vollständige intensivmedizinische Therapiemöglichkeiten</li>
                        <li>³ ECMO = Zusätzlich ECMO</li>
                 </ul>
            </div>
             
    </mat-card-content>


    <mat-divider></mat-divider>
    <br />
    <mat-card-content>
            Quellen
            <mat-list role="list">
                    <mat-list-item role="listitem">
                            <a href="https://www.divi.de/register/intensivregister" target="_blank">DIVI Intensivregister</a> 
                    </mat-list-item>
            </mat-list>            
    </mat-card-content>
    
    <div class="logocontainer">
        <a href="http://vis.uni.kn" target="_blank">
            <img class="logo" src="/assets/dbvis.png" alt="DBVIS Logo">
        </a>
    </div>
    

    

    
</mat-card>