<button
  mat-icon-button
  (click)="infoboxExtended = !infoboxExtended"
>
  <mat-icon>{{ infoboxExtended ? 'layers_clear' : 'layers' }}</mat-icon>
</button>

<mat-card *ngIf="infoboxExtended">

  <mat-accordion>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
          <mat-panel-title i18n="@@infoboxHospitalBeds">Krankenhäuser - Bettenauslastung</mat-panel-title>
      </mat-expansion-panel-header>

      <h5>Aggregation</h5>

      <mat-button-toggle-group
        class="btngrp"
        name="fontStyle"
        aria-label="Font Style"
        [value]="mo.bedGlyphOptions.aggregationLevel"
        (change)="updateBedGlyphAggregationLevel($event.value)"
      >
        <mat-button-toggle [value]="eAggregationLevels.state" i18n="@@infoboxStates" matTooltip="Bundesländer">Länder</mat-button-toggle>
        <mat-button-toggle [value]="eAggregationLevels.governmentDistrict" i18n="@@infoboxRegions" matTooltip="Regierungsbezirke">Bezirke</mat-button-toggle>
        <mat-button-toggle [value]="eAggregationLevels.county" i18n="@@infoboxCounties" matTooltip="Landkreise">Kreise</mat-button-toggle>
        <mat-button-toggle [value]="eAggregationLevels.none" i18n="@@infoboxNone" matTooltip="Ohne Aggregation">Keine</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-divider></mat-divider>
      <br/>

      <h5>Glyph</h5>
      <p>
        <mat-slide-toggle
            [checked]="mo.bedGlyphOptions.enabled"
            (change)="mo.bedGlyphOptions.enabled = $event.checked; emitMapOptions()"
            i18n="@@infoboxBelegungShow"
          >Bettenauslastung anzeigen / ausblenden
          </mat-slide-toggle>
      </p>

      <!--<mat-divider></mat-divider>-->

      <div *ngIf="mo.bedGlyphOptions.enabled">





      <div class="glyph-legend">
          <div
              *ngFor="let t of glyphLegend"
              class="glyph-tile"
              [matTooltip]="t.description"
              (click)="mo.bedGlyphOptions[t.accessor] = !mo.bedGlyphOptions[t.accessor]; emitMapOptions()"
          >
              <div class="rect" [ngStyle]="{'background-color': getGlyphColor(t.color), 'border-color': mo.bedGlyphOptions[t.accessor] ? 'grey' : 'lightgrey'}"></div>
              <div class="text">{{ t.name }}</div>
          </div>
      </div>
      <div class="glyph-color-legend">
          <div
              *ngFor="let t of glyphLegendColors"
              class="glyph-tile"

          >
              <div class="circle" [ngStyle]="{'background-color': getGlyphColor(t)}"></div>
              <div class="text">{{ t }}</div>
          </div>
      </div>

      </div>

      <mat-divider></mat-divider>
      <br/>

      <h5 i18n="@@infoboxBackground">Hintergrund</h5>

        <mat-slide-toggle
              [disabled]="mo.bedGlyphOptions.aggregationLevel === eAggregationLevels.none"
              [checked]="mo.bedBackgroundOptions.enabled"
              (change)="updateBedBackgroundOptionsEnabled($event.checked)"
              i18n="@@infoboxBackgroundShow"
            >Bettenauslastung im Hintergrund anzeigen / ausblenden
            </mat-slide-toggle>
        <div *ngIf="mo.bedGlyphOptions.aggregationLevel === eAggregationLevels.none">
          <mat-error i18n="@@infoboxBackgroundError">Bitte eine Aggregation Länder, Bezirke, oder Kreise auswählen.</mat-error>
        </div>


      <mat-button-toggle-group
        *ngIf="mo.bedBackgroundOptions.enabled"
        class="btngrp"
        name="fontStyle"
        aria-label="Font Style"
        [value]="mo.bedBackgroundOptions.bedType"
        (change)="updateBedBackgroundBedType($event.value)"
        [disabled]="mo.bedGlyphOptions.aggregationLevel === eAggregationLevels.none"
      >
        <mat-button-toggle [value]="eBedTypes.icuLow">ICU low</mat-button-toggle>
        <mat-button-toggle [value]="eBedTypes.icuHigh">ICU high</mat-button-toggle>
        <mat-button-toggle [value]="eBedTypes.ecmo">ECMO</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-expansion-panel>




    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title  i18n="@@infoboxCaseView">Fallansicht</mat-panel-title>
      </mat-expansion-panel-header>
      <form class="covid-form">
        <mat-slide-toggle
          [checked]="mo.covidNumberCaseOptions.enabled"
          (change)="updateCovidNumberCaseOptionsEnabled($event.checked)"
           i18n="@@infoboxCaseViewShow"
        >Covid-19 Fallansicht anzeigen / ausblenden
        </mat-slide-toggle>

        <div *ngIf="mo.covidNumberCaseOptions && mo.covidNumberCaseOptions.enabled">
          <div class="toggleGroup">
            <h5 i18n="@@infoboxAggregation">Aggregation</h5>

            <mat-button-toggle-group
              class="btngrp"
              name="fontStyle"
              aria-label="Font Style"
              [value]="mo.covidNumberCaseOptions.aggregationLevel"
              (change)="mo.covidNumberCaseOptions.aggregationLevel = $event.value; emitMapOptions()"
            >
              <mat-button-toggle [value]="eAggregationLevels.state" i18n="@@infoboxStates" matTooltip="Bundesländer">Länder</mat-button-toggle>
              <mat-button-toggle [value]="eAggregationLevels.governmentDistrict" i18n="@@infoboxRegions" matTooltip="Regierungsbezirke">Bezirke</mat-button-toggle>
              <mat-button-toggle [value]="eAggregationLevels.county" i18n="@@infoboxCounties" matTooltip="Landkreise">Kreise</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <!--<mat-divider></mat-divider>-->

          <div class="toggleGroup">
            <h5 i18n="@@infoboxTime">Zeitraum</h5>
            <mat-button-toggle-group
            *ngIf="mo.covidNumberCaseOptions && mo.covidNumberCaseOptions.enabled"
            class="btngrp"
            name="fontStyle"
            aria-label="Font Style"
            [value]="mo.covidNumberCaseOptions.timeWindow"
            (change)="mo.covidNumberCaseOptions.timeWindow = $event.value; emitMapOptions()"
          >
            <mat-button-toggle i18n="@@infoboxTimeAll" [value]="eCovidNumberCaseTimeWindow.all" [disabled]="mo.covidNumberCaseOptions.change == eCovidNumberCaseChange.relative">Alle Daten</mat-button-toggle>
            <mat-button-toggle i18n="@@infoboxTime24" onerror=" "[value]="eCovidNumberCaseTimeWindow.twentyFourhours">letzte 24 Stunden</mat-button-toggle>
            <mat-button-toggle i18n="@@infoboxTime72"[value]="eCovidNumberCaseTimeWindow.seventyTwoHours">letzte 72 Stunden</mat-button-toggle>
          </mat-button-toggle-group>
          </div>

          <!--<mat-divider></mat-divider>-->

          <div class="toggleGroup">
            <h5 i18n="@@infoboxCaseNum">Fallzahlen</h5>

            <mat-button-toggle-group
            class="btngrp"
            name="fontStyle"
            aria-label="Font Style"
            [value]="mo.covidNumberCaseOptions.change"
            (change)="mo.covidNumberCaseOptions.change = $event.value; emitMapOptions()"
          >
            <mat-button-toggle i18n="@@infoboxCasesAll" [value]="eCovidNumberCaseChange.absolute">Alle erfassten Fälle</mat-button-toggle>
            <mat-button-toggle i18n="@@infoboxCasesDiff" [value]="eCovidNumberCaseChange.relative" [disabled]="eCovidNumberCaseTimeWindow.all == mo.covidNumberCaseOptions.timeWindow">Veränderung im gewählten Zeitraum</mat-button-toggle>
          </mat-button-toggle-group>
          </div>

          <!--<mat-divider></mat-divider>-->

          <div class="toggleGroup">
            <h5 i18n="@@infoboxType">Art</h5>

            <mat-button-toggle-group
            class="btngrp"
            name="fontStyle"
            aria-label="Font Style"
            [value]="mo.covidNumberCaseOptions.type"
            (change)="mo.covidNumberCaseOptions.type = $event.value; emitMapOptions()"
          >
            <mat-button-toggle i18n="@@infoboxTypeSick" [value]="eCovidNumberCaseType.cases">Erkrankungen</mat-button-toggle>
            <mat-button-toggle i18n="@@infoboxTypeDeath" [value]="eCovidNumberCaseType.deaths">Todesfälle</mat-button-toggle>
          </mat-button-toggle-group>
          </div>

          <!--<mat-divider></mat-divider>-->

          <div class="toggleGroup">
            <h5 i18n="@@infoboxNorm">Normalisierung</h5>

            <mat-button-toggle-group
            class="btngrp"
            name="fontStyle"
            aria-label="Font Style"
            [value]="mo.covidNumberCaseOptions.normalization"
            (change)="mo.covidNumberCaseOptions.normalization = $event.value; emitMapOptions()"
          >
            <mat-button-toggle i18n="@@infoboxNornNone" [value]="eCovidNumberCaseNormalization.absolut">Keine Normalisierung</mat-button-toggle>
            <mat-button-toggle i18n="@@infoboxNornYes" [value]="eCovidNumberCaseNormalization.per100k" [disabled]="mo.covidNumberCaseOptions.change == eCovidNumberCaseChange.relative">Je 100.000 Einwohner</mat-button-toggle>
          </mat-button-toggle-group>
          </div>
        </div>

      </form>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title i18n="@@infoboxGeo">
          Geographische Verortung
        </mat-panel-title>
        <mat-panel-description>
          <!-- description -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <mat-slide-toggle
          [checked]="mo.showOsmHospitals"
          (change)="mo.showOsmHospitals = !mo.showOsmHospitals; emitMapOptions()"
          i18n="@@infoboxGeoHospital"
        >Krankenhäuser
        </mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle
          [checked]="mo.showOsmHeliports"
          (change)="mo.showOsmHeliports = !mo.showOsmHeliports; emitMapOptions()"
          i18n="@@infoboxGeoHeli"
        >Hubschrauberlandeplätze
        </mat-slide-toggle>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title i18n="@@infoboxData">
          Datenquellen
        </mat-panel-title>
      </mat-expansion-panel-header>


      <mat-list role="list">
        <mat-list-item role="listitem">
          <a i18n="@@infoboxDIVI" href="https://www.divi.de/register/intensivregister" target="_blank">DIVI Intensivregister</a>
        </mat-list-item>

        <mat-list-item>
          <a i18n="@@infoboxRKI" href="https://rki.de" target="_blank">Robert Koch Institut</a>
        </mat-list-item>

        <mat-list-item role="listitem">
          <a i18n="@@infoboxRKICases" href="https://corona.rki.de/" target="_blank">- Fallzahlen</a>
        </mat-list-item>

        <mat-list-item role="listitem">
          <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>
        </mat-list-item>

      </mat-list>


    </mat-expansion-panel>
  </mat-accordion>


  <div class="footer">
    <a mat-button (click)="openAbout()">Team</a>
    <a mat-button  i18n="@@infoboxImprint" (click)="openImpressum()">Impressum</a>

    <span class="spacer"></span>

    <mat-form-field class="locale">
      <mat-label>Language</mat-label>
      <mat-select (selectionChange)="changeLocale($event)" [value]="selectedLocale">
        <mat-option *ngFor="let locale of locales" [value]="locale">
          {{ locale }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>



</mat-card>
