:host {
    background-color: white;
    color: black;
}

.legend {
    width: 250px;
    padding-left: 20px;
}

a:link, a:visited {
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: black;
}

.logo {
    width: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}