:host {
    background-color: white;
    color: black;
}

.legend {
    width: 250px;
    padding-left: 20px;
}

a:link, a:visited {
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: black;
}

.logocontainer{
    position:relative;
}

.logo {
    width: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: blue; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: skyblue;  /*replace with your color*/
}

mat-card {
    max-height: 90vh; 
    overflow-y: auto
}