<span class="hidden" #i18nAltersgruppe i18n="@@caseDodYAxisAltersgruppe">Altersgruppe</span>
<span class="hidden" #i18nDatum i18n="@@caseDodXAxisDatum">Datum</span>
<span class="hidden" #i18nWoche i18n="@@caseDodXAxisWoche">Woche</span>
<span class="hidden" #i18nVal i18n="@@caseDodZAxisVal">7-Tages-Inzidenz</span>


<p i18n="@@agregroupChartNoPopDataError" class="error" *ngIf="hasPopulationData === false && _options.normalization === eCovidNumberCaseNormalization.per100k">
    Leider liegen für diesen Kreis keine Populationsdaten nach Altersstruktur vor. 
    Falls sie diese Daten zur Verfügung stellen können melden sie diese bitte an support@dbvis.inf.uni-konstanz.de.
    Sie können die Einstellung "Keine Normalisierung" wählen damit diese Visualisierung funktioniert.
</p>

<app-vega *ngIf="!(hasPopulationData === false && _options.normalization === eCovidNumberCaseNormalization.per100k)" [spec]="spec"></app-vega>


<app-data-source source="survstat" *ngIf="_options.type === eCovidNumberCaseType.cases"></app-data-source>
<app-data-source source="rki" *ngIf="_options.type === eCovidNumberCaseType.deaths"></app-data-source>
<app-data-source source="zensus"></app-data-source>